/* Google Fonts to be added here*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/*root colours to be added here*/

/* Wildcard to override default style browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
    position: relative;
}

/*Header Styling*/
header {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: black;
}

/* Main Styling*/

.h2p-container {
    text-align: center;
    padding: 20px;
}

.btn-how-to-play {
    padding: 5px 10px;
    background-color: white;
    font-size: 0.8rem;
    border-radius: 12px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.reset-game {
    text-align: center;
    padding: 20px;
}

.btn-reset-game {
    padding: 5px 10px;
    background-color: white;
    font-size: 0.8rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    border-radius: 12px;
    letter-spacing: 0.3rem;
}

/*Footer Styling*/
footer {
    margin-top: auto;
}

#social-media {
    text-align: center;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: black;
}

.copyright {
    background-color: white;
    text-align: center;
    letter-spacing: 0.3rem;
}