/* Google Fonts to be added here*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/*root colours to be added here*/
:root {
    --black: #000000;
    --white: #ffffff;
    --whitesmoke: #F5F5F5;
}

/* Wildcard to override default style browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling*/

body {
    background-image: linear-gradient(white, darkgray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
    position: relative;
}

/*Header Styling*/
header {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: var(--black);
}

/* Main Styling*/

.h2p-container {
    text-align: center;
    padding: 20px;
}

#btn-how-to-play {
    padding: 5px 10px;
    background-color: var(--white);
    font-size: 1rem;
    border-radius: 12px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: var(--black);
}

/* The Modal (Background for the pop up box) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 400px;
    background-color: rgb(128, 128, 128, 0.952);
}

/*This is the model content*/
.modal-content {
    background-color: var(--white);
    margin: 8% auto;
    padding: 25px;
    border: 1px solid lightgray;
    width: 75%;
    height: 350px;
}

.game-instructions {
    font-size: 1rem;
    text-decoration: underline;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.steps {
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
    font-weight: bold;
}

/*Close Button*/
.close {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 3rem;
    cursor: pointer;
    color: rgba (0, 0, 0, 0.5);
}

/*Hover for close button*/
.close:hover {
    font-weight: 700;
}

/*Countdown and Moves taken styling*/
.timer-moves-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.countdown-container {
    background-color: var(--white);
    display: flex;
    padding: 5px;
    color: var(--black);
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
}

#timer-area {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.moves-container {
    background-color: var(--white);
    display: flex;
    padding: 5px;
    color: var(--black);
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
}

/*Gaming area*/
.game-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    perspective: 1000px;
}

.memory-card {
    position: relative;
    cursor: pointer;
    height: 75px;
    width: 75px;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.96);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.reset-game {
    text-align: center;
    padding: 20px;
}

#btn-reset-game {
    padding: 5px 10px;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    border-radius: 12px;
}

/*Winning Modal Content - This is the model content*/

#win-modal {
    height: 500px;
}

.winner-content {
    background-color: var(--white);
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    z-index: 5;
    width: 75%;
}

.win-steps {
    padding: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
}

#play-again {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: underline;
}

.play-again-btn {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

/*Footer Styling*/
footer {
    margin-top: inherit;
}

#social-media {
    text-align: center;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: var(--whitesmoke);
}

.copyright {
    background-color: inherit;
    color: var(--whitesmoke);
    text-align: center;
    letter-spacing: 0.3rem;
}

/*Media Queries for small device tablets and large phone up to 600px */
@media only screen and (max-width: 600px) and (min-width: 500px) {

    #btn-how-to-play {
        font-size: 1.2rem;
    }

    .modal {
        height: 400px;
    }

    .modal-content {
        height: 350px;
    }

    .game-instructions {
        font-size: 1.2rem;
    }

    .steps {
        font-size: 0.7rem;
    }

    .countdown-area {
        font-size: 1.2rem;
    }

    .moves-box {
        font-size: 1.2rem;
    }

    #moves-counter {
        font-size: 1.2rem;
    }

    .game-area {
        width: 100vw;
        margin: 25px auto;
    }

    .memory-card {
        height: 100px;
        width: 100px;
    }

    #btn-reset-game {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 1.2rem;
    }
}

/*Media Queries for small device tablets and large phone up to 600px */
@media only screen and (max-width: 768px) and (min-width: 601px) {

    .memory-card {
        height: 125px;
        width: 125px;
    }
}

/*Media Queries for medium device tablets 600px and up*/
@media only screen and (max-width: 992px) and (min-width: 769px) {


    .main-title {
        font-size: 3rem;
    }

    #btn-how-to-play {
        font-size: 1.5rem;
    }

    .modal {
        height: 500px;
    }

    .modal-content {
        height: 420px;
    }

    .game-instructions {
        font-size: 1.5rem;
    }

    .steps {
        font-size: 1rem;
    }

    .moves-box {
        font-size: 1.5rem;
    }

    .countdown-container {
        font-size: 1.5rem;
    }

    #moves-counter {
        font-size: 1.5rem;
    }

    .memory-card {
        height: 150px;
        width: 150px;
    }

    #btn-reset-game {
        font-size: 1.5rem;
    }

    #win-modal {
        height: 580px;
    }

    .winner-content {
        font-size: 2rem;
    }

    .win-steps {
        font-size: 1.3rem;
    }

    #play-again {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
    }

    .copyright {
        font-size: 1.5rem;
    }
}

/*Media Queries for medium device tablets 993px and up*/
@media only screen and (max-width: 1199px) and (min-width: 993px) {

    .main-title {
        font-size: 3.5rem;
    }

    #btn-how-to-play {
        font-size: 1.8rem;
    }

    .modal {
        height: 590px;
    }

    .modal-content {
        height: 420px;
    }

    .game-instructions {
        font-size: 2rem;
    }

    .steps {
        font-size: 1.2rem;
    }

    .countdown-area {
        font-size: 1.8rem;
    }

    .moves-box {
        font-size: 1.8rem;
    }

    #moves-counter {
        font-size: 1.8rem;
    }

    .memory-card {
        height: 200px;
        width: 200px;
    }

    #btn-reset-game {
        font-size: 1.8rem
    }

    #win-modal {
        height: 580px;
    }

    .winner-content {
        font-size: 2rem;
    }

    .win-steps {
        font-size: 1.3rem;
    }

    #play-again {
        font-size: 1.5rem;
    }

    .winner-content {
        font-size: 2rem;
    }

    .win-steps {
        font-size: 1.3rem;
    }

    #play-again {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.8rem;
    }

    .copyright {
        font-size: 1.8rem;
    }
}

/*Media Queries for large device laptops 1200px and up*/
@media only screen and (max-width: 1919px) and (min-width: 1200px) {

    .main-title {
        font-size: 4.5rem;
    }

    #btn-how-to-play {
        font-size: 2rem;
    }

    .modal {
        height: 650px;
    }

    .modal-content {
        height: 500px;
        padding: 40px;
    }

    .game-instructions {
        font-size: 3rem
    }

    .steps {
        font-size: 1.3rem;
    }

    .countdown-area {
        font-size: 2rem;
    }

    .moves-box {
        font-size: 2rem;
    }

    #moves-counter {
        font-size: 2rem;
    }

    .memory-card {
        height: 250px;
        width: 250px;
    }

    #btn-reset-game {
        font-size: 2rem
    }

    #win-modal {
        height: 620px;
    }

    .winner-content {
        font-size: 2.4rem;
    }

    .win-steps {
        font-size: 1.7rem;
    }

    #play-again {
        font-size: 2.1rem;
    }

    a {
        font-size: 2rem;
    }

    .copyright {
        font-size: 2rem;
    }

}

/*Media Queries for medium device tablets 1200px and up*/
@media only screen and (min-width: 1920px) {


    .main-title {
        font-size: 6rem;
    }

    #btn-how-to-play {
        font-size: 3.5rem;
    }

    .modal {
        height: 900px;
    }

    .modal-content {
        height: 700px;
        padding: 40px;
    }

    .game-instructions {
        font-size: 3.5rem
    }

    .steps {
        font-size: 2rem;
    }

    .countdown-area {
        font-size: 3rem;
    }

    .moves-box {
        font-size: 3rem;
    }

    #moves-counter {
        font-size: 3rem;
    }

    .winner-content {
        font-size: 2.1rem;
    }

    .win-steps {
        font-size: 1.6rem;
    }

    #play-again {
        font-size: 1.8rem;
    }

    .memory-card {
        height: 350px;
        width: 350px
    }

    #btn-reset-game {
        font-size: 3rem
    }

    a {
        font-size: 3rem;
    }

    .copyright {
        font-size: 3rem;
    }
}