/* Google Fonts to be added here*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/*root colours to be added here*/

/* Wildcard to override default style browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
    position: relative;
}

/*Header Styling*/
header {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: black;
}

/* Main Styling*/

.h2p-container {
    text-align: center;
    padding: 20px;
}

#btn-how-to-play {
    padding: 5px 10px;
    background-color: white;
    font-size: 1rem;
    border-radius: 12px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

/* The Modal (Background for the pop up box) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: rgb(153, 14, 14);
    background-color: rgba(153, 14, 14, 0.4);
}

/*This is the model content*/
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid lightgray;
    width: 75%;
}

/*Close Button*/
.close {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 3rem;
    cursor: pointer;
    color: rgba (0, 0, 0, 0.5);
}

/*Hover for close button*/
.close:hover {
    font-weight: 700;
}

.game-instructions {
    font-size: 1.5rem;
    text-decoration: underline;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.steps {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

/*Countdown and Moves taken styling*/
.timer-moves-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.countdown-container {
    background-color: white;
    display: flex;
    padding: 5px;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
}

#timer-area {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.moves-container {
    background-color: white;
    display: flex;
    padding: 5px;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
}

#winnerModal {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: red;
}

#winnerContent {
    width: 300px;
    height: 300px;
    margin: 15% auto;
    padding: 20px;
    background-color: white;
    text-align: center;
}

#youWin {
    text-align: center;
}

/*Gaming area*/
.game-area {
    width: 90%;
    height: 380px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.96);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.reset-game {
    text-align: center;
    padding: 20px;
}

#btn-reset-game {
    padding: 5px 10px;
    background-color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    border-radius: 12px;
}

/*Footer Styling*/
footer {
    margin-top: auto;
}

#social-media {
    text-align: center;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: black;
}

.copyright {
    background-color: white;
    text-align: center;
    letter-spacing: 0.3rem;
}